<section id="homepage">
    <div id="home" class="container mt-4 w-100 d-flex">
      <div class="d-flex flex-column justify-content-center mt-3 mb-5 width ">
        <h1>Want anything to be easy with <span class="fw-bold">LaslesVPN</span>.</h1>
        <p class="mt-4">Provide a network for all your needs with ease and fun using <span
            class="fw-bold">LaslesVPN</span> discover interesting features from us.</p>
        <a class="button mt-4 " href="#pricingpage">Get Started</a>
      </div>
      <div class="img ">
        <img class="w-100 h-100 mb-5" src="../../assets/images/illustration-1.png" alt="">
      </div>
    </div>

    <div id="aboutpage" class="container d-flex justify-content-evenly contents">

      <div class="d-flex image">
        <img src="../../assets/images/location-icon.png" alt="">
        <div class="text">
          <h4>30+</h4>
          <p class="m-0">Locations</p>
        </div>
      </div>

      <div class="d-flex image">
        <img src="../../assets/images/server-icon.png" alt="">
        <div class="text">
          <h4>50+</h4>
          <p class="m-0">Servers</p>
        </div>
      </div>

      <div class="d-flex image">
        <img src="../../assets/images/user-icon.png" alt="">
        <div class="adjust">
          <h4>90+</h4>
          <p class="m-0">Users</p>
        </div>
      </div>
    </div>
  </section>