<section id="locationpage">
    <div id="location" class=" container d-flex justify-content-center align-content-center flex-column">
      <div class="text">
        <h1 class="text-center pricing-table-title">Huge Global Network of <br> Fast VPN</h1>
        <h5 class="text-center pricing-table-subtitle mb-5 pb-5">See LaslesVPN everywhere to make it easier for you
          when you move locations.</h5>
      </div>
      <div class="img w-100 h-100">
        <img class="w-100 h-100" src="../../assets/images/locations.png" alt="">
      </div>
      <div class="sponsers mt-5 ">
        <img src="../../assets/images/netflix-logo.png" alt="">
        <img src="../../assets/images/reddit-logo.png" alt="">
        <img src="../../assets/images/amazon-logo.png" alt="">
        <img src="../../assets/images/discord-logo.png" alt="">
        <img src="../../assets/images/spotify-logo.png" alt="">
      </div>
    </div>
  </section>